@charset "UTF-8";
@media screen and (min-width: 1375px) {
  .__bpPC {
    display: inline-block;
  }
  .__bpTab, .__bpSP {
    display: none;
  }
}

@media screen and (max-width: 1374px) {
  .__bpPC, .__bpSP {
    display: none;
  }
  .__bpTab {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .__bpTab {
    display: none;
  }
  .__bpSP {
    display: block;
  }
}

html, body {
  height: 100%;
  width: 100%;
  background: #000;
  color: #fff;
  font-family: source-han-sans-cjk-ja,"游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
  line-height: 1;
  font-weight: 300;
  font-size: 62.5%;
}

@media screen and (max-width: 1374px) {
  html, body {
    font-size: 56.2%;
  }
}

@media screen and (max-width: 1024px) {
  html, body {
    font-size: 50%;
  }
}

@media screen and (max-width: 600px) {
  html, body {
    font-size: 34.3%;
  }
}

html a, body a {
  text-decoration: none;
  color: #000;
}

html a:hover, body a:hover {
  opacity: 0.5;
  transition: .5s;
}

html h2, html h3, html h4, body h2, body h3, body h4 {
  font-weight: 300;
  line-height: 2;
}

@media screen and (max-width: 1024px) {
  html h2, html h3, html h4, body h2, body h3, body h4 {
    font-weight: 500;
  }
}

html p, html li, body p, body li {
  font-size: 1.6rem;
  line-height: 2.5;
  font-weight: 200;
}

@media screen and (max-width: 1024px) {
  html p, html li, body p, body li {
    font-weight: 300;
  }
}

html section h2, body section h2 {
  margin-bottom: 4rem;
  font-size: 4rem;
}

html section p, body section p {
  font-size: 2rem;
}

.__en {
  font-family: urw-din, sans-serif;
}

.__red {
  background: #F86161;
}

.__green {
  background: #3EE27F;
}

.__blue {
  background: #617FF8;
}

#toggle {
  width: 6.4rem;
  height: 6.4rem;
  background: rgba(17, 17, 17, 0.5);
  border-radius: 50%;
  position: fixed;
  top: 4.3rem;
  right: 10%;
  z-index: 9998;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: .2s;
}

@media screen and (max-width: 1024px) {
  #toggle {
    right: 3%;
  }
}

#toggle:hover {
  opacity: 0.8;
}

#toggle span {
  width: 3.6rem;
  height: 0.2rem;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: .2s;
  border-radius: 0.2rem;
}

#toggle span#line1 {
  top: 1.7rem;
}

#toggle span#line1.line1 {
  transform: rotate(45deg);
  left: 1.4rem;
  top: 3.2rem;
}

#toggle span#line2 {
  top: 3.2rem;
}

#toggle span#line2.line2 {
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
}

#toggle span#line3 {
  top: 4.7rem;
}

#toggle span#line3.line3 {
  transform: rotate(-45deg);
  left: 1.4rem;
  top: 3.2rem;
}

nav {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  transition: .5s;
  visibility: hidden;
  opacity: 0;
  position: fixed;
}

nav.showNav {
  visibility: visible;
  opacity: 1;
}

nav ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

nav ul li {
  font-weight: 700;
  font-size: 1.8rem;
}

nav ul li a {
  color: #fff;
}

.overray {
  background: #000;
  position: fixed;
  height: 50%;
  width: 100%;
  left: 0;
  z-index: 999;
  transition: .5s;
}

#overrayTop {
  top: -50%;
  opacity: 0;
}

#overrayTop.showTop {
  transform: translateY(100%);
  opacity: 1;
}

#overrayBottom {
  bottom: -50%;
  opacity: 0;
}

#overrayBottom.showBottom {
  transform: translateY(-100%);
  opacity: 1;
}

#index {
  /* =============================================
  * headline
  ================================================ */
  /* =============================================
  * introduce
  ================================================ */
  /* =============================================
  * features
  ================================================ */
  /* =============================================
  * plan
  ================================================ */
  /* =============================================
  * download
  ================================================ */
}

#index #headline {
  width: 100%;
  height: 100%;
  background: url("../img/index_bg_headline.webp") center/cover no-repeat;
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#index #headline .container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

@media screen and (max-width: 600px) {
  #index #headline .container {
    gap: 4rem;
  }
}

#index #headline .container .container__top {
  display: flex;
  gap: 6rem;
  align-items: center;
}

@media screen and (max-width: 600px) {
  #index #headline .container .container__top {
    flex-direction: column;
    text-align: center;
    gap: 4rem;
  }
}

#index #headline .container .container__top h1 .logo {
  width: 36rem;
  height: auto;
}

#index #headline .container .container__top .copy .mainCopy {
  font-size: 6rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: -0.3rem;
}

#index #headline .container .container__top .copy .subCopy {
  font-size: 2rem;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  #index #headline .container .container__bottom .banner {
    text-align: center;
  }
}

#index #headline .container .container__bottom .banner img {
  width: 52rem;
  height: auto;
}

@media screen and (max-width: 1374px) {
  #index #headline .container .container__bottom .banner img {
    width: 35rem;
  }
}

#index #introduce {
  width: 100%;
  height: 100%;
  background: url("../img/index_bg_introduce.webp") center/cover no-repeat;
  background-position: top right;
  color: #fff;
  text-align: right;
}

@media screen and (max-width: 1024px) {
  #index #introduce {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  #index #introduce {
    width: 100%;
    height: 100%;
    background: url("../img/sp_index_bg_introduce.webp") center/cover no-repeat;
  }
}

#index #introduce .container {
  width: 79%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 1024px) {
  #index #introduce .container {
    width: 100%;
    padding: 0 3%;
    justify-content: center;
  }
}

#index #features {
  width: 100%;
  height: 100%;
  background: url("../img/index_bg_features.webp") center/cover no-repeat;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  #index #features {
    padding: 0 3%;
  }
}

@media screen and (max-width: 600px) {
  #index #features {
    width: 100%;
    height: 100%;
    background: url("../img/sp_index_bg_features.webp") center/cover no-repeat;
  }
}

#index #features .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#index #features .container section p {
  margin-bottom: 4rem;
}

#index #features .container section .detailBtn img {
  width: 34.2rem;
  height: auto;
}

@media screen and (max-width: 1374px) {
  #index #features .container section .detailBtn img {
    width: 22.8rem;
  }
}

#index #plan {
  width: 100%;
  height: 100%;
  background: url("../img/index_bg_plan.webp") center/cover no-repeat;
  background-position: top right;
  color: #fff;
  text-align: left;
}

@media screen and (max-width: 1024px) {
  #index #plan {
    text-align: center;
    padding: 0 3%;
  }
}

@media screen and (max-width: 600px) {
  #index #plan {
    width: 100%;
    height: 100%;
    background: url("../img/sp_index_bg_plan.webp") center/cover no-repeat;
  }
}

#index #plan .container {
  width: 79%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  #index #plan .container {
    width: 100%;
    justify-content: center;
  }
}

#index #plan .container section p {
  margin-bottom: 4rem;
}

#index #download {
  color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}

@media screen and (max-width: 1024px) {
  #index #download {
    padding: 0 3%;
  }
}

#index #download .bgLogo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background: #000;
}

#index #download .bgLogo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
  width: 60rem;
  height: auto;
}

#index #download .container {
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#index #download .container section p {
  margin-bottom: 5rem;
}

#index #download .container section .dlBtn {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

@media screen and (max-width: 1024px) {
  #index #download .container section .dlBtn {
    gap: 2rem;
  }
}

#index #download .container section .dlBtn img {
  height: 10rem;
  width: auto;
}

@media screen and (max-width: 1024px) {
  #index #download .container section .dlBtn img {
    height: 8rem;
  }
}

#aboutfeatures {
  /* =============================================
  * emosic store
  ================================================ */
  /* =============================================
  * autoplaylist
  ================================================ */
  /* =============================================
  * emosic store
  ================================================ */
}

#aboutfeatures .explain {
  padding: 10rem 0;
  margin: 0 auto;
  text-align: center;
}

#aboutfeatures #emosicStore {
  width: 100%;
  height: 100%;
  background: url("../img/features_bg_store.webp") center/cover no-repeat;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  #aboutfeatures #emosicStore {
    padding: 0 3%;
  }
}

@media screen and (max-width: 600px) {
  #aboutfeatures #emosicStore {
    width: 100%;
    height: 100%;
    background: url("../img/sp_features_bg_store.webp") center/cover no-repeat;
  }
}

#aboutfeatures #emosicStore .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#aboutfeatures #autoPlaylist {
  width: 100%;
  height: 100%;
  background: url("../img/features_bg_playlist.webp") center/cover no-repeat;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  #aboutfeatures #autoPlaylist {
    padding: 0 3%;
  }
}

@media screen and (max-width: 600px) {
  #aboutfeatures #autoPlaylist {
    width: 100%;
    height: 100%;
    background: url("../img/sp_features_bg_playlist.webp") center/cover no-repeat;
  }
}

#aboutfeatures #autoPlaylist .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#aboutfeatures #liveMusic {
  width: 100%;
  height: 100%;
  background: url("../img/features_bg_livemusic.webp") center/cover no-repeat;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  #aboutfeatures #liveMusic {
    padding: 0 3%;
  }
}

@media screen and (max-width: 600px) {
  #aboutfeatures #liveMusic {
    width: 100%;
    height: 100%;
    background: url("../img/sp_features_bg_livemusic.webp") center/cover no-repeat;
  }
}

#aboutfeatures #liveMusic .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#support {
  /* =============================================
  * faq
  ================================================ */
  /* =============================================
  * contact
  ================================================ */
}

#support header {
  background: #fff;
}

#support #faq {
  padding: 10rem 0;
  margin: 0 auto;
  text-align: center;
}

#support #faq h2 {
  margin-bottom: 2rem;
}

#support #faq p {
  margin-bottom: 2rem;
}

#support #faq .faqArea {
  width: 79%;
  margin: 0 auto;
  background: #fff;
  color: #000;
  padding: 2rem 0;
}

@media screen and (max-width: 1024px) {
  #support #faq .faqArea {
    width: 94%;
  }
}

#support #faq .faqArea ul {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

#support #faq .faqArea ul li {
  display: flex;
  font-size: 2rem;
  gap: 2rem;
  margin-left: 2rem;
}

@media screen and (max-width: 1374px) {
  #support #faq .faqArea ul li {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 1024px) {
  #support #faq .faqArea ul li {
    font-size: 1.6rem;
  }
}

#support #faq .faqArea ul li .tag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  cursor: pointer;
  transition: .5s;
  color: #fff;
}

#support #faq .faqArea ul li .tag:hover {
  opacity: 0.5;
}

#support #faq .faqArea ul li .question {
  cursor: pointer;
  transition: .5s;
}

#support #faq .faqArea ul li .question:hover {
  opacity: 0.5;
}

#support #form {
  padding: 10rem 0;
  margin: 0 auto;
  text-align: center;
}

#support #form h2 {
  margin-bottom: 2rem;
}

#support #form p {
  margin-bottom: 2rem;
}

@media screen and (max-width: 1024px) {
  #support #form {
    padding: 0 3%;
  }
}

#support #form form {
  border: 1px solid #fff;
  width: 76rem;
  margin: 0 auto;
  border-radius: 0.6rem;
  padding: 4rem 0;
}

@media screen and (max-width: 1024px) {
  #support #form form {
    width: 54rem;
  }
}

@media screen and (max-width: 600px) {
  #support #form form {
    width: 100%;
    padding: 4rem 3%;
  }
}

#support #form form ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto 4rem auto;
}

#support #form form ul li {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem;
  font-weight: 100;
  text-align: left;
  padding: 0 3.8rem;
}

@media screen and (max-width: 1024px) {
  #support #form form ul li {
    padding: 0 2.7rem;
  }
}

@media screen and (max-width: 600px) {
  #support #form form ul li {
    padding: 0 5%;
  }
}

#support #form form ul li label {
  width: 20rem;
}

#support #form form ul li input, #support #form form ul li textarea {
  background: #fff;
  color: #000;
  line-height: 1.8;
  padding: 0 0.4rem;
  width: 68.4rem;
  border-radius: 0.6rem;
}

@media screen and (max-width: 1024px) {
  #support #form form ul li input, #support #form form ul li textarea {
    width: 48.6rem;
  }
}

@media screen and (max-width: 600px) {
  #support #form form ul li input, #support #form form ul li textarea {
    width: 100%;
  }
}

#support #form form button {
  width: 16rem;
  height: 6rem;
  border: 1px solid #fff;
  transition: .5s;
  border-radius: 0.6rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

#support #form form button:hover {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}

footer {
  background: #000;
  width: 100%;
  height: 60rem;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  footer {
    height: 64rem;
    padding-top: 4rem;
  }
}

footer .fNavArea {
  height: 44rem;
  width: 79%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  footer .fNavArea {
    flex-direction: column;
    height: 48rem;
    width: 100%;
    padding: 0 3%;
  }
}

footer .fNavArea .left .fLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

footer .fNavArea .left .fLogo img {
  width: 20rem;
  height: auto;
}

footer .fNavArea .left .fLogo p {
  font-size: 2rem;
  font-weight: 300;
}

@media screen and (max-width: 1024px) {
  footer .fNavArea .left .fLogo p {
    margin-bottom: 4rem;
  }
}

footer .fNavArea .right {
  display: flex;
  gap: 4.6rem;
}

@media screen and (max-width: 1024px) {
  footer .fNavArea .right {
    width: 100%;
    gap: auto;
    justify-content: space-evenly;
  }
}

footer .fNavArea .right section h6 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

footer .fNavArea .right section ul li {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

footer .fNavArea .right section ul li:last-child {
  margin-bottom: 0;
}

footer .fNavArea .right a {
  color: #fff;
}

footer .copyright {
  height: 16rem;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  height: 15rem;
  width: 100%;
  display: flex;
  align-items: center;
  background: #000;
}

header h1 {
  width: 8rem;
  height: auto;
  margin-left: 10%;
}

@media screen and (max-width: 1024px) {
  header h1 {
    margin-left: 3%;
  }
}

header h1 img {
  width: 100%;
  height: auto;
}
/*# sourceMappingURL=style.css.map */