@charset "UTF-8";
@media screen and (min-width: 1375px) {
  .__bpPC {
    display: inline-block;
  }
  .__bpTab, .__bpSP {
    display: none;
  }
}

@media screen and (max-width: 1374px) {
  .__bpPC, .__bpSP {
    display: none;
  }
  .__bpTab {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .__bpTab {
    display: none;
  }
  .__bpSP {
    display: block;
  }
}

html, body {
  height: 100%;
  width: 100%;
  background: #000;
  color: #fff;
  font-family: source-han-sans-cjk-ja,"游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
  line-height: 1;
  font-weight: 300;
  font-size: 62.5%;
}

@media screen and (max-width: 1374px) {
  html, body {
    font-size: 56.2%;
  }
}

@media screen and (max-width: 1024px) {
  html, body {
    font-size: 50%;
  }
}

@media screen and (max-width: 600px) {
  html, body {
    font-size: 34.3%;
  }
}

html a, body a {
  text-decoration: none;
  color: #000;
}

html a:hover, body a:hover {
  opacity: 0.5;
  transition: .5s;
}

html h2, html h3, html h4, body h2, body h3, body h4 {
  font-weight: 300;
}

html p, html li, body p, body li {
  font-size: 1.6rem;
  line-height: 2;
  font-weight: 200;
}

html section h2, body section h2 {
  margin-bottom: 4rem;
  font-size: 4rem;
}

html section p, body section p {
  font-size: 2rem;
}

.__en {
  font-family: urw-din, sans-serif;
}

#toggle {
  width: 6.4rem;
  height: 6.4rem;
  background: rgba(17, 17, 17, 0.5);
  border-radius: 50%;
  position: fixed;
  top: 4.3rem;
  right: 10%;
  z-index: 9998;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: .2s;
}

@media screen and (max-width: 1024px) {
  #toggle {
    right: 3%;
  }
}

#toggle:hover {
  opacity: 0.8;
}

#toggle span {
  width: 3.6rem;
  height: 0.2rem;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: .2s;
  border-radius: 0.2rem;
}

#toggle span#line1 {
  top: 1.7rem;
}

#toggle span#line1.line1 {
  transform: rotate(45deg);
  left: 1.4rem;
  top: 3.2rem;
}

#toggle span#line2 {
  top: 3.2rem;
}

#toggle span#line2.line2 {
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
}

#toggle span#line3 {
  top: 4.7rem;
}

#toggle span#line3.line3 {
  transform: rotate(-45deg);
  left: 1.4rem;
  top: 3.2rem;
}

nav {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  transition: .5s;
  visibility: hidden;
  opacity: 0;
  position: fixed;
}

nav.showNav {
  visibility: visible;
  opacity: 1;
}

nav ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

nav ul li {
  font-weight: 700;
  font-size: 1.8rem;
}

nav ul li a {
  color: #fff;
}

.overray {
  background: #000;
  position: fixed;
  height: 50%;
  width: 100%;
  left: 0;
  z-index: 999;
  transition: .5s;
}

#overrayTop {
  top: -50%;
  opacity: 0;
}

#overrayTop.showTop {
  transform: translateY(100%);
  opacity: 1;
}

#overrayBottom {
  bottom: -50%;
  opacity: 0;
}

#overrayBottom.showBottom {
  transform: translateY(-100%);
  opacity: 1;
}

#headline {
  width: 100%;
  height: 100%;
  background: url("../img/index_bg_headline.webp") center/cover no-repeat;
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#headline .container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

@media screen and (max-width: 600px) {
  #headline .container {
    gap: 4rem;
  }
}

#headline .container .container__top {
  display: flex;
  gap: 6rem;
  align-items: center;
}

@media screen and (max-width: 600px) {
  #headline .container .container__top {
    flex-direction: column;
    text-align: center;
    gap: 4rem;
  }
}

#headline .container .container__top h1 .logo {
  width: 36rem;
  height: auto;
}

#headline .container .container__top .copy .mainCopy {
  font-size: 6rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: -0.3rem;
}

#headline .container .container__top .copy .subCopy {
  font-size: 2rem;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  #headline .container .container__bottom .banner {
    text-align: center;
  }
}

#headline .container .container__bottom .banner img {
  width: 52rem;
  height: auto;
}

@media screen and (max-width: 1374px) {
  #headline .container .container__bottom .banner img {
    width: 35rem;
  }
}

#introduce {
  width: 100%;
  height: 100%;
  background: url("../img/index_bg_introduce.webp") center/cover no-repeat;
  background-position: top right;
  color: #fff;
  text-align: right;
}

@media screen and (max-width: 1024px) {
  #introduce {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  #introduce {
    width: 100%;
    height: 100%;
    background: url("../img/sp_index_bg_introduce.webp") center/cover no-repeat;
  }
}

#introduce .container {
  width: 79%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 1024px) {
  #introduce .container {
    width: 100%;
    padding: 0 3%;
    justify-content: center;
  }
}

#features {
  width: 100%;
  height: 100%;
  background: url("../img/index_bg_features.webp") center/cover no-repeat;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  #features {
    padding: 0 3%;
  }
}

@media screen and (max-width: 600px) {
  #features {
    width: 100%;
    height: 100%;
    background: url("../img/sp_index_bg_features.webp") center/cover no-repeat;
  }
}

#features .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#features .container section p {
  margin-bottom: 4rem;
}

#features .container section .detailBtn img {
  width: 34.2rem;
  height: auto;
}

@media screen and (max-width: 1374px) {
  #features .container section .detailBtn img {
    width: 22.8rem;
  }
}

#plan {
  width: 100%;
  height: 100%;
  background: url("../img/index_bg_plan.webp") center/cover no-repeat;
  background-position: top right;
  color: #fff;
  text-align: left;
}

@media screen and (max-width: 1024px) {
  #plan {
    text-align: center;
    padding: 0 3%;
  }
}

@media screen and (max-width: 600px) {
  #plan {
    width: 100%;
    height: 100%;
    background: url("../img/sp_index_bg_plan.webp") center/cover no-repeat;
  }
}

#plan .container {
  width: 79%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  #plan .container {
    width: 100%;
    justify-content: center;
  }
}

#plan .container section p {
  margin-bottom: 4rem;
}

#plan .container section .detailBtn img {
  width: 34.2rem;
  height: auto;
}

@media screen and (max-width: 1374px) {
  #plan .container section .detailBtn img {
    width: 22.8rem;
  }
}

#download {
  color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}

@media screen and (max-width: 1024px) {
  #download {
    padding: 0 3%;
  }
}

#download .bgLogo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background: #000;
}

#download .bgLogo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
  width: 60rem;
  height: auto;
}

#download .container {
  height: 100%;
  margin: 0 auto;
  position: relative;
}

#download .container section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#download .container section p {
  margin-bottom: 5rem;
}

#download .container section .dlBtn {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

@media screen and (max-width: 1024px) {
  #download .container section .dlBtn {
    gap: 2rem;
  }
}

#download .container section .dlBtn img {
  height: 10rem;
  width: auto;
}

@media screen and (max-width: 1024px) {
  #download .container section .dlBtn img {
    height: 8rem;
  }
}

footer {
  background: #000;
  width: 100%;
  height: 60rem;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  footer {
    height: 64rem;
    padding-top: 4rem;
  }
}

footer .fNavArea {
  height: 44rem;
  width: 79%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  footer .fNavArea {
    flex-direction: column;
    height: 48rem;
    width: 100%;
    padding: 0 3%;
  }
}

footer .fNavArea .left .fLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

footer .fNavArea .left .fLogo img {
  width: 20rem;
  height: auto;
}

footer .fNavArea .left .fLogo p {
  font-size: 2rem;
  font-weight: 300;
}

@media screen and (max-width: 1024px) {
  footer .fNavArea .left .fLogo p {
    margin-bottom: 4rem;
  }
}

footer .fNavArea .right {
  display: flex;
  gap: 4.6rem;
}

@media screen and (max-width: 1024px) {
  footer .fNavArea .right {
    width: 100%;
    gap: auto;
    justify-content: space-evenly;
  }
}

footer .fNavArea .right section h6 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

footer .fNavArea .right section ul li {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

footer .fNavArea .right section ul li:last-child {
  margin-bottom: 0;
}

footer .fNavArea .right a {
  color: #fff;
}

footer .copyright {
  height: 16rem;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*# sourceMappingURL=style.css.map */